# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

# Crash log files
crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

*.crt
*.key

.DS_Store

